*{
    margin: 0%;
    padding: 0%;
   
}

.navb{
    position: absolute;
    top: 10px; /* Adjust the top value to control the overlap amount */
    left: 0rem; /* Adjust the left value to control the overlap amount */
    width: 80%; /* Adjust the width to control the overlap amount */
    z-index: 1; /* A higher z-index value brings an element to the front */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: x-large;
    padding-top: 0px;

}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(253, 251, 251);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  

li a:hover {
    background-color: #00000043;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding-top: 20px;
    font-size: 1.7ch;
}


.primary h1{

    font-style: italic;
    padding-top: 20%;
    padding-left: 10%;
    font-size:60%;
}

.primary h2{

    font-style: italic;
    
    padding-left: 10%;
    font-size:30%;
}


.primary{
    position: relative;
    color: rgb(251, 252, 253);
    background: url(assets/rain.gif);
    background-repeat: no-repeat;
    background-color: #fdfcfc;
    background-size: 100% 100%;
    height: 100vh;
    font-size: 20ch;
}





.spot{
    position: absolute;
    
    top: 600px; /* Adjust the top value to control the overlap amount */
    left: 65rem; /* Adjust the left value to control the overlap amount */
    width: 80%; /* Adjust the width to control the overlap amount */
    z-index: 1; /* A higher z-index value brings an element to the front */

    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 30%;
    margin: 1px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
    background-color: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 200px #0c0c0c;

}

#trackName{
    padding-top: 20px;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
#artist{
    color: aliceblue;
}


.spot img{
    padding: 10px;
    margin-left: 10px;
    display: block;
    height: 128px;
    border-radius: 100px;
    animation: rotating 7s linear infinite;
    
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  

.spot tittle{
    display: block;
    
}

@media only screen and (max-width: 700px) {

    .navb{
        position: absolute;
        top: 2rem; /* Adjust the top value to control the overlap amount */
        left: 0rem; /* Adjust the left value to control the overlap amount */
        width: 100%; /* Adjust the width to control the overlap amount */
        z-index: 1; /* A higher z-index value brings an element to the front */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    } 
      
    
    .primary{
        height: 55rem;
        background-size: 200% 100%;
    }
    .primarytext{
        margin-top: 17rem;
    }
    ul{
        font-size:small;
    }

    .spot{
        position: absolute;
        
        top: 75%; /* Adjust the top value to control the overlap amount */
        left: 10%; /* Adjust the left value to control the overlap amount */
        width: 80%; /* Adjust the width to control the overlap amount */
    
    }

    #trackName{
        padding-top: 20px;
        font-weight: bold;
        font-size:medium;
        color: #ffffff;
        font-family: 'Courier New', Courier, monospace;
    }
    #artist{
        color: aliceblue;
        font-size: small;
    }
    
  }
